@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background: url('@Url.Content("~/imagen/s.jpg")') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        min-height: 100vh;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Usa esta página para detallar la política de privacidad de tu sitio.</p>
