@model Actividad4LengProg3.Models.Materia

<h2>Editar Materia</h2>

<form asp-action="Editar" method="post">
    <input asp-for="Codigo" type="hidden" />

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Creditos" class="form-label"></label>
        <input asp-for="Creditos" class="form-control" />
        <span asp-validation-for="Creditos" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Carrera" class="form-label"></label>
        <input asp-for="Carrera" class="form-control" />
        <span asp-validation-for="Carrera" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
